.form-group label {
    text-align: right;
}

.divCentro {
    margin: 0 auto;
}

.btn {
    text-align: center;
}

#divResult {
    display: none;
}

.card {
    border-radius: 10px;
    background-color: lightslategray;
    box-shadow: 2px 2px 4px black;
    padding: 10px;
}

.centerTitle {
    margin-bottom: 2%;
    text-align: center;
    font-size: 3rem;
}