.linha-form{
    text-align: right;
    padding: 20px;
}

#results{
    background-color: gray;
    display: none;
    border-radius: 15px;
    margin-top: 25px;
}

.cardVeiculo{
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 2px 2px 4px black;
}

.dados-veiculo{
    background-color: rgba(255, 255, 255, 0.479);
    font-weight: bolder;
    padding: 5px;
}
hr{
    margin-top: 5px !important  ;
    margin-bottom: 5px;
}